@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @keyframes fly-in {
    0% { transform: translateY(-40px) translateX(-40px) rotate(-10deg); opacity: 0; }
    50% { opacity: 1; }
    100% { transform: translateY(0) translateX(0) rotate(0deg); opacity: 0; }
  }
  .animate-fly {
    animation: fly-in 1.5s infinite;
  }
}